:root {
  --mainColor: #20a58e;
  --imageWidth: 45vw;
  --imageHeight: 22.5vw;
  --black: #777;
  --lightGray: rgb(255,255,255);
  --pink: pink;
}

@font-face {
    font-family: Raleway;
    src: url(raleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: Raleway;
    src: url(raleway/Raleway-Bold.ttf);
	font-weight: bold;
}

@font-face {
    font-family: OpenSans;
    src: url(opensans/OpenSans-Regular.ttf);
	src: url(opensans/OpenSans-Regular.eot);
	font-weight: regular;
}

@font-face {
    font-family: OpenSans;
    src: url(opensans/OpenSans-Light.ttf);
	src: url(opensans/OpenSans-Light.eot);
	font-weight: light;
}

body {
	background: var(--lightGray);
	font-family: Raleway;
}

#mainArea {
	height:90vh;
}

.navLink, .projectLink {
	padding: 0 5px 10px 40px;
	font-family: Raleway;
}

.navLink {
	font-size: 1.1em;
}

.projectLink {
	font-size: 1em;
}


a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color:#555;
}

.chosen {
	font-weight: bold;
	color: var(--mainColor) !important;
	color: #20a58e !important;
}

#ov {
	color: var(--mainColor) !important;
	color: #20a58e !important;
}

#bar {
	height: 100vh;
}

#myName {
	font-size: 1.5em;
	padding: 40px 0 40px 27px;
	font-weight: bold;
}

.imgContainer {
	width: var(--imageWidth);
	width: 45vw;
	overflow: hidden;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	background: var(--mainColor);
	background: #20a58e;
	position: relative;
}

.topSpacer{
	height: 50px;
}

.smallSpacer{
	height: 20px;
}

.imageSpacer{
	
	height: 200px;
}

iframe {
	border: none;
}

hr {
	width: 8em;
	margin-left: 25px;
}

#bottomText {
	bottom: 0;
	padding: 40px 30px;
	position: absolute;
	font-size: 0.9em;
	color: #999 !important;
}

.container {
	height: 100%;
}

.row {
	height: 100%;
}


body::-webkit-scrollbar-track
{
	
	background-color: white;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
}

body::-webkit-scrollbar-thumb
{
	background-color: var(--mainColor);
	background-color: #20a58e;
	
}

.imgContainer img {
	width: var(--imageWidth);
	width:45vw;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
	
}


.nameHover {
	position: absolute;
	width: var(--imageWidth);
	width: 45vw;
	color: white;
	font-size: 2em;
	opacity: 0;
	font-weight: bold;
	background: var(--mainColor);
	background: #20a58e;
	transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
	height: var(--imageHeight);
	display: flex;
    align-items: center;
    justify-content: center;
}

.nameHover:hover {
	opacity: 0.8;
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	-o-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

.infoPage img {
	width: 75%;
	padding: 200px 0 0 0;
}

.smallPageImage {
	width: 50% !important;
	margin-left: 12.5% !important;
}

.smallPageImageNoPadding {
	width: 50% !important;
	padding: 10px 0 0 0 !important;
	margin-left: 12.5% !important;
}

.smallImageFloat{
	width:25% !important;
	float: left;
	padding-right: 10px !important;
}

.youtubeContainer {
	width: 200px;
	
	padding: 200px 0 0 0;
	height: 200px;
}

.infoPage img:first-child {
	width: 75%;
	padding: 0;
}

.text {
    font-size: 1.2em;
    color: var(--black);
    padding: 200px 0 0 0;
    text-align: center;
    width: 75%;
}

.imageDescription {
	padding: 5px;
	margin:auto;
	font-family: OpenSans;
	font-size: 1.2em;
	color: var(--black);
}

.smallImageDescription {
	margin-left: 12.5%;
}

.noPadding {
	padding: 0!important;
	
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width:75%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.projectHeader {
	font-size: 3em;
    padding: 100px 0;
    font-weight: bold;
	color: var(--mainColor);
	color: #20a58e;
}

.secHeader {
	color: var(--black);
}

.pink {
	color: var(--pink)!important;
}

.projectDesc, .projectTec, .imageDescWhite {
	margin-bottom: 20px;
	font-size: 1.2em;
	width: 75%;
	background: white;
	padding: 60px;
	font-family: OpenSans;
}

.projectDesc {
	background: var(--mainColor);
	background: #20a58e;
	color: white;
}

.imageDescWhite {
	padding-top: 0;
}

.mailLink {
	color: var(--mainColor) !important;
	color: #20a58e !important;
}
