:root {
  --mainColor: #252f30;
  --imageWidth: 21vw;
  --imageHeight: 14vw;
  --black: #777;
  --lightGray: rgb(255,255,255);
  --pink: pink;
}

@font-face {
	font-family: 'Quicksand', sans-serif;
}

@font-face {
    font-family: 'Quicksand', sans-serif;
	font-weight: light;
}

@font-face {
    font-family: OpenSans;
    src: url(opensans/OpenSans-Regular.ttf);
	src: url(opensans/OpenSans-Regular.eot);
	font-weight: regular;
}

@font-face {
    font-family: OpenSans;
    src: url(opensans/OpenSans-Light.ttf);
	src: url(opensans/OpenSans-Light.eot);
	font-weight: light;
}

body {
	background: var(--lightGray);
	font-family: 'Quicksand', sans-serif;
}

#mainArea {
	height:90vh;
}

.navLink {
	padding: 0 4px 7px 30px;
	font-family: 'Quicksand', sans-serif;
}

.projectLink {
	padding: 0 4px 7px 30px;
	font-family: 'Quicksand', sans-serif;
	font-weight: light;
}

.navLink {
	font-size: 1em;
}

.projectLink {
	font-size: 0.9em;
}


a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color:#555;
}

.chosen {
	color: #dbdddd !important;
}

#ov {
	color: var(--mainColor) !important;
	color: #20a58e !important;
}

#bar {
	height: 100vh;
}

#myName {
	font-size: 1.3em;
	padding: 30px 0 10px 27px;
    letter-spacing: 1.5px;
    font-family: 'Lora', serif;
}

.imgContainer {
	width: var(--imageWidth);
	width: 25vw;
	overflow: hidden;
	float: left;
	margin-right: 20px;
	margin-bottom: 35px;
	background: var(--mainColor);
	background: var(--lightGray);
	position: relative;
}

.topSpacer{
	height: 47px;
}

.smallSpacer{
	height: 20px;
}

.imageSpacer{
	
	height: 200px;
}

iframe {
	border: none;
}

hr {
	width: 8em;
	margin-left: 25px;
	border-top: none;
}

#bottomText {
	bottom: 0;
	padding: 40px 30px;
	position: absolute;
	font-size: 0.9em;
	color: #999 !important;
}

.container {
	height: 100%;
}

.row {
	height: 100%;
}


body::-webkit-scrollbar-track
{
	
	background-color: white;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: white;
}

body::-webkit-scrollbar-thumb
{
	background-color: var(--mainColor);
	background-color: var(--lightGray);
	
}

.imgContainer img {
	width: var(--imageWidth);
	height: var(--imageHeight);
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
     -webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

img {
border: solid 4px transparent;
}

img:hover {
border-color:yellow;
}

.imgContainer:hover {
border='5';
}

.imgContainer:hover img {
	font-family: 'Quicksand', sans-serif;
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

.nameHover:hover {
	font-family: 'Quicksand', sans-serif;
	font-size: 0.8em;	
}

.nameHover {
	padding-left: 10px;
	font-family: 'Quicksand', sans-serif;
	font-size: 0.8em;	
}

.infoPage img {
	width: 70%;
}

#nohover {
border: none;
}

body::-webkit-scrollbar-track
{
	background-color: white;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: white;
}

body::-webkit-scrollbar-thumb
{
	background-color: var(--mainColor);
	background-color: yellow;
	
}

.smallPageImage {
	width: 50% !important;
	margin-left: 12.5% !important;
}

.smallPageImageNoPadding {
	width: 50% !important;
	padding: 10px 0 0 0 !important;
	margin-left: 12.5% !important;
}

.smallImageFloat{
	width:25% !important;
	float: left;
	padding-right: 10px !important;
}

.infoPage img:first-child {
	width: 70%;
	padding: 0;
}

.text {
    font-size: 1.2em;
    color: var(--black);
    padding: 200px 0 0 0;
    text-align: center;
    width: 75%;
}

.imageDescription {
	padding: 5px;
	margin:auto;
	font-family: OpenSans;
	font-size: 1.2em;
	color: var(--black);
}

.smallImageDescription {
	margin-left: 12.5%;
}

.noPadding {
	padding: 0!important;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	width:75%;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.projectHeader {
	font-size: 1.2em;
    padding: 30px 0;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    font-weight: light;
    
}

.secHeader {
	color: var(--black);
}

.pink {
	color: var(--pink)!important;
}

.projectDesc, .projectTec, .imageDescWhite {
	margin-bottom: 20px;
	font-size: 0.9em;
	color:#777775;
	width: 75%;
	background: white;
	padding: 0px;
	font-family: 'Quicksand', sans-serif;
	font-weight: light;
}

.imageDescWhite {
	padding-top: 0;
}

.mailLink {
	color: var(--mainColor) !important;
	color: var(--lightGray) !important;
}
